Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier

WarningsAsErrors: ""
HeaderFilterRegex: ".*"
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: NULL
