partial_build_release.sh
build-debug
build-release
cmake-build-debug
.idea
cmake_regenerateAll.sh
src/CMakeLists.txt
*/.*.swp
.*.swp
tools/__pycache__/*
tools/*.pyc
tools/.*.swp
tools/demo/robots/
tools/demo/inp.*
tools/demo/out.*
doc/html
doc/html/*
