[submodule "openmm"]
	path = openmm
	url = https://github.com/spirilaurentiu/openmm/
[submodule "Simbody01"]
	path = Simbody01
	url = https://github.com/spirilaurentiu/Simbody01/
[submodule "Molmodel"]
	path = Molmodel
	url = https://github.com/spirilaurentiu/Molmodel/
[submodule "pcg-cpp"]
	path = pcg-cpp
	url = https://github.com/imneme/pcg-cpp
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
