# Build artifacts
build*
python/robosample/__pycache__/*
doc/html
doc/html/*

# Exclude the compiled shared library
python/robosample/*so

# tools folder
tools/__pycache__/*
tools/*.pyc
tools/.*.swp
tools/demo/robots/
tools/demo/inp.*
tools/demo/out.*
tools/__pycache__/
tools/__pycache__/*

Doxyfile
Doxyfile.bak
draw/
html/
latex/
projman/

draw/*
html/*
latex/*
projman/*
.qodo
