*.prmtop linguist-language=Text linguist-detectable=false
*.rst7   linguist-language=Text linguist-detectable=false
*.inpcrd linguist-language=Text linguist-detectable=false
*.flex   linguist-language=Text linguist-detectable=false
