# compilation stuff
build
doc/html
doc/html/*

# tools folder
tools/__pycache__/*
tools/*.pyc
tools/.*.swp
tools/demo/robots/
tools/demo/inp.*
tools/demo/out.*
tools/__pycache__/
tools/__pycache__/*

tickets.txt
